<!-- Esta sera una pagina web -->
<!DOCTYPE html>
<html ng-app>
<head>
	<!-- Navegador, usare caracteres de tipo UTF-8 (tildes, eñes, etc) -->
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<!-- Incluir Bootstrap-->
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<!-- Incluir AngularJS-->
	<script src="js/lib/angular.min.js"></script>
	<!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>-->

	<title>Ejercicio 01</title>
</head>
<body>

	<div class="container">
		
		<h1>ng-model</h1>
		<h4>en angularjs</h4>
		<hr>

		<p>
			Su nombre: {{ nombre | uppercase }}
			<br>
			<input type="text" ng-model="nombre" class="form-control" placeholder="Ingrese su nombre">
		</p>

		<p>
			Seleccione el país: {{ pais }}
			<br>
			<select class="form-control" ng-model="pais">
				<option value="1">Costa Rica</option>
				<option value="2">México</option>
				<option value="3">Colombia</option>
			</select>
		</p>

		<p>
			Seleccione las opciones que desea: {{ opt1 }} {{ opt2 }}
			<br>
			<input type="checkbox" ng-model="opt1"> Opción 1
			<br>
			<input type="checkbox" ng-model="opt2"> Opción 2
		</p>

		<p>
			Seleccione el genero: {{ genero }}
			<br>
			<input type="radio" value="M" ng-model="genero"> Masculino
			<br>
			<input type="radio" value="F" ng-model="genero"> Femenino
		</p>

	</div>


</body>
</html>